[Unit]
Description=image server service

[Service]
Type=forking
ExecStart=/home/PabloEsquivel/tarea1/Operativos-tarea-1/src/Server/main
ExecStop=/bin/bash /home/PabloEsquivel/tarea1/Operativos-tarea-1/src/Server/daemon/killimageserver.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target